<ul class="nav navbar-expand-lg navbar-dark bg-dark fixed-top">

  <img width="7%" height="75%" src="../../assets/covid-image.jpg" />

  <li class="nav-item">
    <a class="nav-link nav-text" aria-current="page" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-text" aria-current="page" routerLink="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-text" aria-current="page" routerLink="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nav-text" data-bs-toggle="dropdown" href="#" role="button"
      aria-expanded="false">Covid-19
      Info</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/covid-info">Articles</a></li>
      <li><a class="dropdown-item" routerLink="/government-sites">Government Health Info</a></li>
      <!-- <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li> -->
    </ul>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li> -->
  <!-- <p class="breadcrumbs" id="breadcrumbs" [outerHTML]="breadcrumbs"></p> -->

</ul>
